* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #5D5C5C;
    font-family: 'Asap', sans-serif;
    /* font-family: 'Bodoni Moda', serif; */
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Teko', sans-serif; */
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
}

/* #root {
    min-height: 100vh;
} */

.container {
    /* border: 1px solid lime; */
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    /* grid-template-columns: 1fr 3fr; */
    /* min-height: 100vh; */
    /* position: relative; */
    /* overflow-y: scroll; */
}

.pdf-download {
    position: fixed;
    bottom: 40px;
    right: 60px;
    border-radius: 10px;
    background-color: #EAE9E8;
    padding: 10px;
    font-weight: 600;
    z-index: 10;
    cursor: pointer;
    transition: all .3s;
    font-size: 1.7em;
}

.pdf-download:hover {
    transform: scale(1.08);
}


.firstName, .lastName {
    /* font-size: 2.6em; */
    /* font-size: 2.6em; */
    letter-spacing: .04em;
}

.sideInfo {
    /* border: 1px solid blue; */
    /* background-color: #C8C7C4; */
    background-color: rgba(203,199,198,0.4);
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto; */
    row-gap: 60px;    
    max-width: 310px;
}

/* .sideInfo-innerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
} */

.NameAndRole {
    font-size: 1.1em;
}

.NameAndRole {
    font-size: 1.1em;
}

.NameAndRole .role-line {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.NameAndRole div div {
    width: 30px;
    height: 10px;
    background-color: #5D5C5C;
}

.education, .skills { 
    display: flex;

    flex-direction: column;
    row-gap: 25px;
}

.education-title {
    font-size: 1.6em;
    letter-spacing: 0.2em;
}

.education-slots {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.education:hover .add {
    display: block
}

.education-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education-info:hover .fa-trash, .education-info:hover .fa-pencil {
    display: block;
}

.education:hover .add {
    display: block
}

.education-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education-info:hover .fa-trash, .education-info:hover .fa-pencil {
    display: block;
}

.mainInfo {
    background-color: rgb(231,229,232,0.4);
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 85px;  
    padding-bottom: 3%;
    align-items: center;
}

/* .mainInfo-innerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
} */



.skills-title, .h3 {
    font-size: 1.6em;
    letter-spacing: 0.2em;
}

.address {
    /* position: relative; */
    font-size: 1.1em;
    display: flex;
    column-gap: 5px;
    transition: all 1s linear;
}

.address-holder * {
    overflow-wrap: anywhere;
    width: 200px;
}

p {
    font-size: 1.1em
}

.skills-points {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 7%;
    max-width: 100%;
}

.skills:hover .add {
    display: block
}

.skills-points .add {
    /* margin-top: 10px; */
    display: none;
    cursor: pointer;
    font-weight: 900
}

.education-slots .add {
    display: none;
    cursor: pointer;
    font-weight: 900
}


.skills:hover .add {
    display: block
}

.skills-points .add {
    margin-bottom: 10px;
    display: none;
    cursor: pointer;
    font-weight: 900
}

.education-slots .add {
    display: none;
    cursor: pointer;
    font-weight: 900
}


li {
    /* display: block; */
    font-size: 1.1em;
    width: 100%;
    max-width: 100%;
}

.fa-location-dot {
    color: #5D5C5C;
    font-size: 2.3em;
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
    color: #5D5C5C;
    font-size: 2.3em;
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
}

.address-icon-holder {
    /* border: 1px solid lime; */
    background-color: #5D5C5C;
    display: flex;
    align-items: center;
    padding: 0 0.15em 0em 0.15em;
    /* border-radius: 15px; */
}

.personal-info {
    width: 100%;
    /* height: 45vh; */
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
}

/* .image-holder {
    height: 100%;
    display: flex;
    align-items: center;
} */

/* .image-holder {
    height: 100%;
    display: flex;
    align-items: center;
} */

/* .image {
    height: 100%;
    background-image: url("C:\Users\User\CV\images/pexels-clay-elliot-14634933.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: gray;
    filter: grayscale(100%);
    border-radius: 0 0 10px 10px;

} */

.image:hover {
    border-radius: 10px;
}

.image:hover {
    border-radius: 10px;
}

img {
    /* height: 100%;
    width: 100%; */
    max-width: 100%;
    height: 100%;
    /* filter: gray;
    filter: grayscale(100%); */
    /* filter: gray;
    filter: grayscale(100%); */
    /* border-radius: 50%; */
    /* width: 100px;
    height: 100px; */
    border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
}

.info {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    row-gap: 5%; */
    display: flex;
    flex-direction: column;
    width: max-content;
    justify-content: flex-end;
    /* padding-left: 10%; */
    /* padding: 0 1% 0 10%; */
}

.info .section {
    display: grid;
    /* grid-template-columns: 100px 1fr; */
    row-gap: 20px;
    /* border: 1px solid #5D5C5C;
    border-radius: 10px; */

    /* border: 1px solid #5D5C5C;
    border-radius: 10px; */

    /* grid-template-rows: auto; */
    /* align-items: center; */
}

.info div .f {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info div .i {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}


.summary {
    display: grid;
    width: 100%;
    /* flex-direction: column; */
    /* row-gap: 13%; */
}

.summary div div {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.summary div div p {
    font-weight: 900;
    font-size: 1.1em;
    text-decoration: underline;
    display: none;
    cursor: pointer;
}


.summary:hover .profile-para {
    display: flex;
}

.experience-info {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.experience-buttons, .references-buttons {
    /* display: flex; */
    display: none;
}

.experience-info:hover .experience-buttons, .references-info:hover .references-buttons {
    display: flex;
    column-gap: 20px;
}


.experience-info:hover .experience-buttons, .references-info:hover .references-buttons {
    display: flex;
    column-gap: 20px;
}

.experience-info-container, .references-info-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}


.projects-info-container {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.project-holder {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
    max-width: 700px;
}

.project-holder * {
    max-width: 100%;
    overflow-wrap: anywhere;
}


.firstDiv, .secondDiv, .thirdDiv, .fourthDiv{
    display: flex;
    column-gap: 8px;
    align-items: center;
}


.circle{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #5D5C5C;
}

.experience-points {
    margin-top: 2%;
    padding-left: 8%;
    max-width: 100%;
}

.experience:hover .experience-p, .references:hover .references-p {
    display: block;
}

.experience-p, .references-p {
    display: none;
    cursor: pointer;
}

.experience:hover .experience-p, .references:hover .references-p {
    display: block;
}

.experience-p, .references-p {
    display: none;
    cursor: pointer;
}

.icon-holder {
    display: flex;
    column-gap: 10px;
}

.section {
    position: relative;
    transition: all .5s linear;
    /* z-index: 5; */
    /* z-index: 5; */
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 199, 196, 0.5);
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: all .15s linear;
    border-radius: 10px;
    border-radius: 10px;
}

/* This one is only applied to the date of birth */
.overla { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 199, 196, 0.5);
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
    transition: all .15s linear;
    border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.section:hover .overlay {
    /* display: flex; */
    opacity: 1;
}

.overlay p{
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.1em;
}

.form {
    padding: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid #5D5C5C;
    border-radius: 45px;
    min-width: 35vw;
    max-height: 99vh;
    /* display: grid;
    grid-template-rows: repeat(auto, 1fr);
    /* flex-direction: column; */
    /* row-gap: 50px; */
    background: white;
}

.inputs {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 5% 0 5% 0;
    max-height: 100%;
    min-height: 100%;
}


.form-title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}



.input-holder { 
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.input-holder label {
    font-weight: 900;
    font-size: 1.1em;
    margin-bottom: 7px;
}

.input-holder input {
    height: 45px;
    outline: none;
    width: 100%;
    padding-left: 2%;
    /* border-radius: 10px; */
    /* border: 1px solid #5D5C5C;
    outline: none; */
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    /* display: none; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}


textarea {
    width: auto;
    /* min-width: 100%; */
    max-width: 100%;
    height: auto;
    font-size: 1.03em;
    outline: none;
}

.buttons {
    display: flex;
    column-gap: 10px;
}

.buttons {
    display: flex;
    column-gap: 10px;
}

button {
    padding: 3% 10%;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #5D5C5C;
    color: white;
    font-size: 1.03em;
    cursor: pointer;
    font-weight: 700;
    transition: all .2s linear;
}

button:hover {
    transform: scale(1.05);
}

.skill-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    /* padding-right: 25%; */
    max-width: 100%;
}

.fa-trash {
    margin-right: 5px;
}

.fa-trash, .fa-pencil {
    display: none;
    cursor: pointer;
}

.skill-holder:hover .fa-trash, .skill-holder:hover .fa-pencil {
    display: block;
}



.summary-textarea {
    /* min-width: 100%; */
    /* max-width: 100%; */
    min-width: 100%;
    /* height: 50%; */
    padding: 2%;
}


.p {
    transition: all .2s linear;
}

.p:hover {
    transform: scale(1.1);
}


.holders {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}


.overlay input {
    display: none;
}

.overlay label {
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: 900;
    cursor: pointer;
} 

.image-holder {
    display: flex;
    flex-direction: column;
    /* row-gap: 40px; */
    align-items: center;
    position: relative;
    min-width: 250px;
    max-width: 400px;
    min-height: 280px;
}


.age:hover {
    text-decoration: underline;
}


.refDiv {
    display: grid;
    row-gap: 7px;
}


.add-section {
    display: inline-block;
    width:max-content;
    background: #F5F5F6;
    padding: 10px;
    border-radius: 14px;
    place-self: center;
    cursor: pointer;
    transition: all .2s;
}

.add-section:hover {
    transform: scale(1.05);
}

